@page
@model app.Pages_Movies.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<style>
    #col
    { 
        background-color: chocolate;
    }
</style>
<h1>Borrar</h1>

<h3>¿Seguro de borrar el producto?</h3>
<body id="col">
    

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.producto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.producto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Domicilio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Domicilio)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Movie.ID" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-page="./Index">Regresar al menu </a>
    </form>
</div></body>
